@page "/"

<PageTitle>Home</PageTitle>

<style>
    body {
        background-image: url('https://static.vecteezy.com/system/resources/previews/018/998/198/original/online-delivery-service-concept-perfect-for-landing-page-delivery-website-banner-and-background-free-vector.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
</style>

<h1>WELCOME OUR DELIVERY SYSTEM.</h1>

